@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        left: -1px;
        top: -25%;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
    }
}