.sidepanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    height: 340px;
    z-index: 3;
    top: 226px;
    left: 50px;
    &__link {
        text-decoration: none;
        transform: rotate(-90.00deg); 
        span {
            color:#fff;
            font-size: 26px;
            transform: rotate(-90.00deg);   
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #fff;
    }
    &__text {
        width: 25px;
        height: 150px;
        span {
            display: block;
            transform: rotate(-90.00deg) translate(-36%, -260%);
            width: 150px;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            color: #fff;
        }
    }
}